<template name="projects">
    <div class="container-fluid maincontainer">
        <div class="row">
            <div class="col-md-12">	
                <h4>Projects</h4>
                <table class="table table-striped table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each projects}}
                        <tr>
                            <td>{{projectName}}</td>
                            <td>
                                <button type="submit" class="btn btn-primary openProject" href="#">Open</button>
                                <button type="submit" class="btn btn-danger deleteProject" href="#">Delete</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <h4>Create new project</h4>
                <form class="form-inline" id="createProject">
                    <div class="form-group">
                        <label class="sr-only" for="projectName">Project Name</label>
                        <input type="text" class="form-control" id="newProjectName" placeholder="Projectname">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div> 
        </div>
    </div>
</template>

