<template name="projects">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Honestly atm this is just playing with design</h1>
		</div>	
		<h4>Buttons custom</h4>
			<button type="submit" class="btn btn-geckoboard" href="#">Geckoboard</button>
			<button type="submit" class="btn btn-basecamp" href="#">Basecamp</button>
			<button type="submit" class="btn btn-zoomshift" href="#">Zoomshift</button>
			<button type="submit" class="btn btn-stripe" href="#">Stripe</button>
		<h4>Buttons bootstrap</h4>
			<button type="submit" class="btn btn-default" href="#">default</button>
			<button type="submit" class="btn btn-primary" href="#">primary</button>
			<button type="submit" class="btn btn-success" href="#">success</button>
			<button type="submit" class="btn btn-info" href="#">info</button>
			<button type="submit" class="btn btn-warning" href="#">warning</button>
			<button type="submit" class="btn btn-danger" href="#">danger</button>
		<h4>Buttons impactmap</h4>
			<button type="submit" class="btn btn-green" href="#">Green</button>
	</div>
</template>

