<template name="backlog">
    {{>projectnav}}
    <div class="container-fluid maincontainer">
        <div class="row">
            <div class="col-md-4">
                <h2>Backlog</h2>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Under construction</h3>
                    </div>
                    <div class="panel-body">This is where you will find your projects backlog, consisting of User Stories created and prioritized from your Impact Map and User Story Map
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>