
/*
h1 {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 55px;
}
 
p {
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}
*/

/* button examples */
.btn-green {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background: #98a665;
	background-image: none;
	border:none;
	color: #fff;
}

.btn-green:hover {
	color: #fff;
}
.btn-green:active {
	background: #98a665;
	border: 1px solid #ccc;
}

.btn-geckoboard {
	background: #7EB348;
	background-image: none;
	border:none;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none ! important;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;		
	-webkit-transition: all 0.3s ease-in-out 0s;		
}
.btn-geckoboard:hover {
	background: #333;
	color: #fff;
}

.btn-basecamp {
  	background-image: none;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 1px 0px #ddd;
	-moz-box-shadow: 0px 1px 0px #ddd;
	box-shadow: 0px 1px 0px #ddd;
}
.btn-basecamp:hover {
	background: #fff;
}

.btn-zoomshift {
 	background-color: hsl(0, 84%, 65%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f59393", endColorstr="#f05a5a");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f59393), to(#f05a5a));
	background-image: -moz-linear-gradient(top, #f59393, #f05a5a);
	background-image: -ms-linear-gradient(top, #f59393, #f05a5a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f59393), color-stop(100%, #f05a5a));
	background-image: -webkit-linear-gradient(top, #f59393, #f05a5a);
	background-image: -o-linear-gradient(top, #f59393, #f05a5a);
	background-image: linear-gradient(#f59393, #f05a5a);
	border-color: #f05a5a #f05a5a hsl(0, 84%, 62%);
	color: #FFF !important;
	text-shadow: 1px 1px 0 #E34141;
	-webkit-font-smoothing: antialiased;
}

.btn-stripe {
  	color: #fff;
	background: #008cdd;
	background-image: -webkit-linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);
	background-image: -moz-linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);
	background-image: -ms-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
	background-image: -o-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
	background-image: linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);			
	background: linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);			
	text-shadow: 0 1px 1px rgba(0,0,0,0.53);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	-ms-border-radius: 17px;
	-o-border-radius: 17px;
	border-radius: 17px;
	border-color: #008cdd;
}
.btn-stripe:hover {
	color: #fff;
	background-position: 0;
}
.btn-stripe:active {
	background: #008cdd;
}


/* navbar */
.navbar-default {
	/*background-color: #8bc34a;*/
	background-color: #20202f;
    border-color: #ffffff;
	font-size: 1em;


	/*font-family: "Times New Roman", Georgia, Serif;*/
}
/* title */
.navbar-default .navbar-brand {
	background-color: #8bc34a;
    color: #ffffff;
	
	
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
	background-color: #8bc34a;
}
/* link */
.navbar-default .navbar-nav > li > a {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #ffffff;
	background-color: #8bc34a;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #20202f;
	background-color: #ffffff;

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #20202f;
    background-color: #ffffff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
	
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret{
	border-top-color: #20202f;
    border-bottom-color: #20202f;
} 
.navbar-default .navbar-nav > .open > a:hover .caret{
	border-top-color: #20202f;
    border-bottom-color: #20202f;
} 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #20202f;
    border-bottom-color: #20202f;
}

.navbar-default .navbar-right > li > a {

	

}

.navbar-default .navbar-right > i{
	
    font-size: 1.8em;
	
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #20202f;
}
.panel-impactmap {
	border-radius: 0 !important;
	background-color: #ffffff;

	border-bottom: 1px solid #8bc34a;

	color: #20202f;
	font-size: 1em; 
}

.panel-heading-impactmap {

}


.panel-heading-impactmap > h4{
	font-size: 2em; 
}
.panel-body-impactmap {

}

.panel-who{
	background-color: #20202f;
	color: #ffffff;
	position: relative;
}

.who-icon{
	text-align: center;
	margin-top: 12px;
	font-size: 4em;

}

.deleteWho {
	color: #ffffff;
	font-size: 2em;
	
}

.editWho {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
	
}

.moveWho {
	color: #ffffff;
	font-size: 2em;
	margin-top: 8px;
}

.createWhat {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
}

.who-headline{
	position: relative;

}


.newWho{
	font-size: 1.5em;
	position: absolute;
	top: 12px;
	right: 55px;

}

.panel-what{
	background-color: #20202f;
	color: #ffffff;
}

.what-icon{
	text-align: center;

	margin-top: 12px;
	font-size: 4em;

}

.panel-how{
	background-color: #20202f;
	color: #ffffff;
}

.how-icon{
	text-align: center;
	margin-top: 12px;
	font-size: 4em;

}


#whyList {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	
}

#whyList > li{
	margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 20%; 
	height: 90px; 
	font-size: 1em; 
	position: relative;
	
}

#whyList .panel-heading {
        cursor: move;
}


	
 
 #whoList .panel-heading {
        cursor: move;
}
	

 #whatList .panel-heading {
	cursor: move;
}

 #howList .panel-heading {
        cursor: move;
    }



.tool {
	opacity: 0.5;
	color: #ff0000;
	text-align: center; 
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 1em;
	margin-right: 1em;


}

.tool a:link{
	color: #cccccc;
	text-decoration: none;
}
.myhover a:visited{
	color: #cccccc;
	text-decoration: none;
}
.myhover a:hover{
	color: #ffffff;
	text-decoration: none;
}
.myhover a:active{
	color: #cccccc;
	text-decoration: none;
}

	

.myhover{
    background-color: none;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
	opacity: 1;

}