body {
    /*background-color:#000000;*/
}

.maincontainer{
    max-width: 1500px;
}
h1 {
   font-family: 'Poiret One', cursive;
}
/*
h1 {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 55px;
}
 
p {
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}
*/

/* navbar */
.navbar-default {
	/*background-color: #8bc34a;*/
	background-color: #20202f;
    border: 0px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-color: #20202f;
	font-size: 1em;
}
/* title */
.navbar-default .navbar-brand {
	/*background-color: #8bc34a;*/
    line-height: 1;
    color: #ffffff;
    padding: 0px;
    padding-top: 5px;
	font-size: 1.9em;
    margin-right: 48px;
    font-family: 'Poiret One', cursive;
    /*font-family: 'Lobster', cursive;*/
	
}

#logo {
    color: #8bc34a;
    font-size: 1.2em;
    margin-right: 12px;
    
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
	/*background-color: #8bc34a;*/
}
/* link */
.navbar-default .navbar-nav > li > a {
    padding: 0px;
    padding-top: 20px;
	text-align: center;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #20202f;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #20202f;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
	
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret{
	border-top-color: #ffffff;
    border-bottom-color: #ffffff;
} 
.navbar-default .navbar-nav > .open > a:hover .caret{
	border-top-color: #ffffff;
    border-bottom-color: #ffffff;
} 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-default .navbar-right > li > a {

	

}

.navbar-default .navbar-right > i{
	
    font-size: 1.8em;
	
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #20202f;
}
.panel-impactmap {
	border-radius: 0 !important;
	background-color: #ffffff;

	border-bottom: 1px solid #8bc34a;

	color: #20202f;
	font-size: 1em; 
}

.panel-heading-impactmap {

}


.panel-heading-impactmap > h4{
	font-size: 2em; 
}
.panel-body-impactmap {

}

.black {
	background-color: #20202f;
}

.blue {
	background-color: #2B2B99;
}

.green {
	background-color: #8bc34a;
}

.purple {
	background-color: #9F31B2;
}

.brown {
	background-color: #CCAA4C;
}



.panel-who{

	color: #ffffff;
	position: relative;
}

.who-icon{
	text-align: center;
	margin-top: 12px;
	font-size: 4em;

}

.deleteWho {
	color: #ffffff;
	font-size: 2em;
	
}

.editWho {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
	
}

.moveWho {
	color: #ffffff;
	font-size: 2em;
	margin-top: 8px;
}

.createWhat {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
}

.who-headline{
	position: relative;

}

.btn-black {
	background: #20202f;
	background-image: none;
	border:none;
	color: #fff;
}

.btn-black:hover {
	color: #fff;
	background: #8bc34a;
}

.newWho{
	font-size: 1.5em;
	position: absolute;
	top: 12px;
	right: 55px;

}

.panel-what{
	/* background-color: #20202f; */
	color: #ffffff;
	position: relative;
}

.what-icon{
	text-align: center;

	margin-top: 12px;
	font-size: 4em;

}

.deleteWhat {
	color: #ffffff;
	font-size: 2em;
	
}

.editWhat {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
}	

.createHow {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
}

.panel-how{
	
	color: #ffffff;
}

.how-icon{
	text-align: center;
	margin-top: 12px;
	font-size: 4em;
}

.deleteHow {
	color: #ffffff;
	font-size: 2em;
	
}

.editHow {
	color: #ffffff;
	font-size: 2em;
	margin-top: 4px;
}	


#whyList {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	
}

#whyList > li{
	margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 20%; 
	height: 90px; 
	font-size: 1em; 
	position: relative;
	
}

#whyList .panel-heading {
        cursor: move;
}


	
 
 #whoList .panel-heading {
        cursor: move;
}
	

 #whatList .panel-heading {
	cursor: move;
}

 #howList .panel-heading {
        cursor: move;
    }



.tool {
	opacity: 0.5;
	color: #ff0000;
	text-align: center; 
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 1em;
	margin-right: 1em;


}

.tool a:link{
	color: #cccccc;
	text-decoration: none;
}
.hoverToolBar a:visited{
	color: #cccccc;
	text-decoration: none;
}
.hoverToolBar a:hover{
	color: #ffffff;
	text-decoration: none;
}
.hoverToolBar a:active{
	color: #cccccc;
	text-decoration: none;
}

	

.hoverToolBar{
    background-color: none;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
	opacity: 1;

}