 #whoList .panel-heading {
        cursor: move;
    }
	
 #whyList .panel-heading {
        cursor: move;
    }
	
 #whatList .panel-heading {
	cursor: move;
}

 #howList .panel-heading {
        cursor: move;
    }