<template name="how">
    <div class="how" id={{_id}}>
	<div class="row">
		<div class="col-md-12">
            <li class="panel panel-how {{color}}">
				<div class="row">
					<div class="panel-body">
						<div class="col-xs-12">
							<div class="how-icon">
                                <span class="glyphicon glyphicon-ok-sign"></span>
							</div>
                            <div class="how-title">
                                {{priority}} {{howName}}
                            </div>
                            
						</div>
						<div class="col-xs-11">
							
						</div>
					</div>					
				</div>
			</li>		
		</div>
	</div>
    </div>
	
	<!-- Update HOW modal -->
		<div id="updateHow{{_id}}Modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit {{howName}}</h4>
			  </div>
			  <div class="modal-body">
				<form role="form" id="updateHowForm">
					<div class="form-group">
						<label for="updateHowName{{_id}}">Name</label>
						<input type="text" class="form-control" id="updateHowName{{_id}}" value="{{howName}}">
					</div>
					<div class="form-group">
						<label for="updateHowPriority{{_id}}">Priority</label>
						<input type="number" class="form-control" id="updateHowPriority{{_id}}" value="{{priority}}">
					</div>
				
				<div class="modal-footer">
                    <button type="submit" class="btn btn-danger deleteHow">Delete</button>
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				</form>
     
			  </div>
			</div>

		  </div>
		</div>
</template>