<template name="what">
	<li class="panel panel-info" id="{{_id}}">
		<div class="panel-heading panel-heading-what" id="{{_id}}">{{rank}} {{name}}</div>
		<div class="panel-body">
			<ul id="howList{{_id}}" class="list-unstyled">
			{{#each hows}}
					{{>how}}
			{{/each}}
			</ul>
			
			<form class="form-inline" id="createHow">
				<div class="form-group">
					<label class="sr-only" for="howName">How Name</label>
					<input type="text" class="form-control" id="howName{{_id}}" placeholder="How name">
				</div>
				<button type="submit" class="btn btn-primary">Create</button>
				<button type="submit" class="btn btn-danger deleteWhat pull-right btn-sm" href="#">Delete What</button>		
			</form>
				
		</div>
	</li>
</template>