<template name="edit">
		<div class="col-md-12">
			<div class="page-header">
				<button type="submit" class="btn btn-default goBack" href="#">Close</button><h1>{{name}}</h1> 
			</div>
			
			<div class="row">
				<div class="col-md-4 who-headline">
						<h1>WHO<small> are the users of the system?</small></h1>
						<a href="#" class="newWho">
							<span class="glyphicon glyphicon-plus newWho" data-toggle="modal" data-target="#createWho{{_id}}Modal"></span>
						</a>
				</div>
				<div class="col-md-4">
					<h1>WHAT<small> are the users goals?</small></h1>
	
				</div>
				<div class="col-md-4">
					<h1>HOW<small> do we fulfill those goals?</small></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul id="wholist" class="list-unstyled">
						{{#each whos}}
							{{>who}}
						{{/each}}
					</ul>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-12">
					<h2>Why</h2>
					<ul id="whyList">
					{{#each whys}}
							{{>why}}
					{{/each}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>Create new Why</h4>
					<form class="form-inline" id="createWhy">
						<div class="form-group">
							<label class="sr-only" for="whyName">Why Name</label>
							<input type="text" class="form-control" id="whyName" placeholder="Why name">
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div id="newWho" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new WHO</h4>
			  </div>
			  <div class="modal-body">
				{{#autoForm collection="Whos" id="insertWhoForm" type="insert" doc=this setArrayItems=true}}
				<fieldset>
				  {{> afQuickField name='whoName'}}
				  {{> afQuickField name='description' rows=6}}
				</fieldset>
				
				<button type="submit" class="btn btn-primary">Insert</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				{{/autoForm}}
			  </div>
			</div>

		  </div>
		</div>

	<!-- Create WHO modal -->
		<div id="createWho{{_id}}Modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new WHO</h4>
			  </div>
			  <div class="modal-body">
				<form role="form" id="createWhoForm">
					<div class="form-group">
						<label for="createWhoName{{_id}}">Name</label>
						<input type="text" class="form-control" id="createWhoName{{_id}}">
					</div>
					<div class="form-group">
						<label for="createWhoPriority{{_id}}">Priority</label>
						<input type="number" class="form-control" id="createWhoPriority{{_id}}" value="1">
					</div>
					<div class="form-group">
						<label for="createWhoDescription{{_id}}">Description</label>
						<textarea class="form-control" rows="3" id="createWhoDescription{{_id}}"></textarea>
					</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				</form>
     
			  </div>
			</div>

		  </div>
		</div>			


	  
		
</template>