<template name="edit">
		<div class="col-md-12">
			<div class="page-header">
				<button type="submit" class="btn btn-default goBack" href="#">Close</button><h1>{{name}}</h1> 
			</div>
			
			<div class="row">
				<div class="col-md-4">
						<h1>WHO<small> are the users of the system?</small></h1>
				</div>
				<div class="col-md-4">
					<h1>WHAT<small> are the users goals?</small></h1>
	
				</div>
				<div class="col-md-4">
					<h1>HOW<small> do we fulfill those goals?</small></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul id="wholist" class="list-unstyled">
						{{#each whos}}
							{{>who}}
						{{/each}}
					</ul>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-12">
					<h2>Why</h2>
					<ul id="whyList">
					{{#each whys}}
							{{>why}}
					{{/each}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>Create new Why</h4>
					<form class="form-inline" id="createWhy">
						<div class="form-group">
							<label class="sr-only" for="whyName">Why Name</label>
							<input type="text" class="form-control" id="whyName" placeholder="Why name">
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h2>Who</h2>
					<ul id="whoList" class="list-unstyled">
					{{#each whos}}
							{{>who}}
					{{/each}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>Create new Who</h4>
					<form class="form-inline" id="createWho">
						<div class="form-group">
							<label class="sr-only" for="whoName">Who Name</label>
							<input type="text" class="form-control" id="whoName" placeholder="Who name">
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
</template>