<template name="who">
    <div class="col-lg-6 col-md-12">   
    <div class="whoContainer{{priorityColor}}">
        
        <div class="row">
            <div class="col-xs-11">
                <h2>WHO<small> are the users of the system?</small></h2>
            </div>
            <div class="col-xs-1">
                <div class="whoNumber{{priorityColor}}">
                    <span>{{priority}}</span>
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="col-md-4">
                <div class="panel panel-who">
                    <div class="panel-body">
                        <p>{{whoName}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-who">
                    <div class="panel-body">
                        {{description}}
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>WHAT<small> are the users goals?</small></h2>
            </div>
            <div class="col-md-6">
                <h2>HOW<small> to achieve the user's goals?</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
				{{#each whats}}
					{{>what}}
				{{/each}}
				<div class="row">
					<div class="col-md-6">
						<li>
                            <a href="#" class="newWhat" data-toggle="modal" data-target="#createWhat{{_id}}Modal">+ create New What</a>
						</li>
					</div>
				</div>
			</ul>
            </div>
        </div>
</div>
    </div>
	
	<!-- Update WHO modal -->
		<div id="updateWho{{_id}}Modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit {{whoName}}</h4>
			  </div>
			  <div class="modal-body">
				<form role="form" id="updateWhoForm">
					<div class="form-group">
						<label for="updateWhoName{{_id}}">Name</label>
						<input type="text" class="form-control" id="updateWhoName{{_id}}" value="{{whoName}}">
					</div>
					<div class="form-group">
						<label for="updateWhoPriority{{_id}}">Priority</label>
						<input type="number" class="form-control" id="updateWhoPriority{{_id}}" value="{{priority}}">
					</div>
					<div class="form-group">
						<label for="updateWhoDescription{{_id}}">Description</label>
						<textarea class="form-control" rows="3" id="updateWhoDescription{{_id}}" value="{{description}}"></textarea>
					</div>
					
					<div class="form-group">
						<label for="updateWhoColor">Color</label>
						<select class="form-control" id="updateWhoColor{{_id}}">
							<option value="" disabled selected>{{color}}</option>
							<option value="black">black</option>
							<option value="blue">blue</option>
							<option value="green">green</option>
							<option value="purple">purple</option>
							<option value="brown">brown</option>
						</select>
					</div>
					
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				</form>
     
			  </div>
			</div>

		  </div>
		</div>
		
	<!-- Create WHAT modal -->
		<div id="createWhat{{_id}}Modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new WHAT</h4>
			  </div>
			  <div class="modal-body">
				<form role="form" id="createWhatForm">
					<div class="form-group">
						<label for="createWhatName{{_id}}">Description</label>
						<input type="text" class="form-control" id="createWhatName{{_id}}" value="Wants to ">
					</div>
					<div class="form-group">
						<label for="createWhatPriority{{_id}}">Priority</label>
						<input type="number" class="form-control" id="createWhatPriority{{_id}}" value="1">
					</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				</form>
     
			  </div>
			</div>

		  </div>
		</div>		

</template>
