<template name="who">
	<div class="row">
		<div class="col-md-4">
			<li class="panel panel-who">
				<div class="row">
					<div class="panel-body">
						<div class="col-xs-2">
							<div class="who-icon">
							<span class="glyphicon glyphicon-user"></span>
							</div>
						</div>
						<div class="col-xs-10">
							<h4>{{rank}} {{name}} {{whoName}}</h4>
							<p>{{impactMap}}</p>
							<p>Jobbar under stressiga omständigheter med en ofta hög ljudnivå. Ninjor och pirater är två stora problem i vardagen</p>
							<p>Har god datorvana och förståelse för teknik, men en hög personalomsättning</p>
							
						</div>
					</div>
					
				</div>
				<div class="myhover">
					<div class="panel-body">
						<div class="col-xs-11">
						</div>
						<div class="col-xs-1">
							<a href="#" class="who-tool">
								<span class="glyphicon glyphicon-remove deleteWho"></span>
							</a>
							<a href="#" class="who-tool">
								<span class="glyphicon glyphicon-edit editWho" data-toggle="modal" data-target="#editWho"></span>
							</a>
							<a href="#" class="who-tool">
								<span class="glyphicon glyphicon-move moveWho"></span>
							</a>
							
							
						</div>
					</div>
					</div>
			</li>
		</div>
		<div class="col-md-8">
			<ul class="list-unstyled">
				{{#each whats}}
					{{>what}}
				{{/each}}
			</ul>
		</div>
	</div>
		<!-- Modal -->
	<div id="editWho" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Edit {{name}}</h4>		 
		  </div>
		  
		  <div class="modal-body">
		  
			</div>
			 <!--
			<form role="form">
			  <div class="form-group">
				<label for="name">Name:</label>
				<input type="name" class="form-control" id="whoName" value="{{name}}">
			  </div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary saveEditWho" data-dismiss="modal">Save</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  </div>
		  -->
		</div>

	  </div>
	</div>
	

	<!-- old WHO
	<li class="panel panel-info" id="{{_id}}">
		<div class="panel-heading panel-heading-who" id="{{_id}}">{{rank}} {{name}}</div>
		<div class="panel-body">
			<h3>What</h3>
			<ul id="whatList{{_id}}" class="list-unstyled">
			{{#each whats}}
					{{>what}}
			{{/each}}
			</ul>
			<form class="form-inline" id="createWhat">
				<div class="form-group">
					<label class="sr-only" for="whatName">What Name</label>
					<input type="text" class="form-control" id="whatName{{_id}}" placeholder="What name">
				</div>
				<button type="submit" class="btn btn-primary">Create</button>
				<button type="submit" class="btn btn-danger deleteWho pull-right" href="#">Delete Who</button>	
			</form>
					
		</div>
	</li>
	-->
</template>

<!--
<template name="insertWhoForm">
  {{> quickForm fields='whoName,description' collection="Whos" id="insertWhoForm" type="insert" doc=this }}
</template>
-->

<template name="insertWhoForm">
  {{#autoForm collection="Whos" id="insertWhoForm" type="insert" doc=this}}
    <fieldset>
      <legend>Add a "WHO"</legend>
      {{> afQuickField name='whoName'}}
      {{> afQuickField name='description'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>
