<template name="impactMap">
    {{>projectnav}}
    <div class="container-fluid maincontainer">
        <div class="row">
            <div class="col-md-4">
                <h1>WHY<small> is this project being done?</small></h1>
                <div class="panel panel-project black">
				<div class="row">
					<div class="panel-body">
						<div class="col-xs-2">
							<div class="who-icon">
                                <span class="glyphicon glyphicon-user"></span>
							</div>
						</div>
						<div class="col-xs-10">
							<h1>{{projectName}}</h1>
							<p>{{description}}</p>	
						</div>
					</div>
				</div>
			</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 who-headline">
                            <h1>WHO<small> are the users of the system?</small></h1>
                    </div>
                    <div class="col-md-4">
                        <h1>WHAT<small> are the users goals?</small></h1>

                    </div>
                    <div class="col-md-4">
                        <h1>HOW<small> do we fulfill those goals?</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul id="wholist" class="list-unstyled">
                            {{#each whos}}
                                {{>who}}
                            {{/each}}
                            <div class="row">
                                <div class="col-md-4">
                                    <li>
                                        <button type="submit" class="btn panel btn-black" data-toggle="modal" data-target="#createWho{{_id}}Modal"><span class="glyphicon glyphicon-plus"></span> New WHO</button>
                                    </li>
                                </div>
                            </div>


                        </ul>
                    </div>
                </div>	
                <div class="row">
                    <div class="col-md-12">
                        <h2>Why</h2>
                        <ul id="whyList">
                        {{#each whys}}
                                {{>why}}
                        {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Create new Why</h4>
                        <form class="form-inline" id="createWhy">
                            <div class="form-group">
                                <label class="sr-only" for="whyName">Why Name</label>
                                <input type="text" class="form-control" id="whyName" placeholder="Why name">
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
		<div id="newWho" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new WHO</h4>
			  </div>
			  <div class="modal-body">
				{{#autoForm collection="Whos" id="insertWhoForm" type="insert" doc=this setArrayItems=true}}
				<fieldset>
				  {{> afQuickField name='whoName'}}
				  {{> afQuickField name='description' rows=6}}
				</fieldset>
				
				<button type="submit" class="btn btn-primary">Insert</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				{{/autoForm}}
			  </div>
			</div>

		  </div>
		</div>

	<!-- Create WHO modal -->
		<div id="createWho{{_id}}Modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create new WHO</h4>
			  </div>
			  <div class="modal-body">
				<form role="form" id="createWhoForm">
					<div class="form-group">
						<label for="createWhoName{{_id}}">Name</label>
						<input type="text" class="form-control" id="createWhoName{{_id}}">
					</div>
					<div class="form-group">
						<label for="createWhoPriority{{_id}}">Priority</label>
						<input type="number" class="form-control" id="createWhoPriority{{_id}}" value="1">
					</div>
					<div class="form-group">
						<label for="createWhoDescription{{_id}}">Description</label>
						<textarea class="form-control" rows="3" id="createWhoDescription{{_id}}"></textarea>
					</div>
					
					<div class="form-group">
						<label for="createWhoColor{{_id}}">Color</label>
						<select class="form-control" id="createWhoColor{{_id}}">
							<option value="black" selected="selected">black</option>
							<option value="blue">blue</option>
							<option value="green">green</option>
							<option value="purple">purple</option>
							<option value="brown">brown</option>
						</select>
					</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				</form>
     
			  </div>
			</div>

		  </div>
		</div>
</template>