<template name="navbar">
    <nav class="navbar navbar-default">
            <div class="col-md-12">
                <div class="container-fluid maincontainer">      
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      {{> navBrand}}
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        {{#if currentUser}}
                            {{> navItems}}
                        {{/if}}
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        {{> loginButtons}}
                      </ul>
                    </div>
                </div>
            </div>

    </nav>
</template>


<template name="navBrand">
	<a class="navbar-brand" href="{{ pathFor 'home' }}"> <span id="logo" class="glyphicon glyphicon-tags" aria-hidden="true"></span>Impact Map</a>
</template>

<template name='navItems'>
		<!-- <li class="{{ activeIfTemplateIs 'projects' }}">
			<a href="{{pathFor 'projects'}}">Projects</a>
		</li> -->
    <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{currentRoute}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="project-select">
            {{#each projects}}
               <li role="presentation"><a class="open-project" role="menuitem" tabindex="-1" href="#" id="projectName">{{projectName}}</a></li>
            {{/each}}
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a data-toggle="modal" data-target="#createProjectModal" role="menuitem" tabindex="-1" href="#">+ create new project</a></li>
            </ul>
        </li>
    
	<!-- Create project modal -->
    <div id="createProjectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new project</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="createProjectForm">
                        <div class="form-group">
                            <label for="createProject-projectName">Name*</label>
                            <input type="text" class="form-control" id="createProject-projectName">
                        </div>
                        <div class="form-group">
                            <label for="createProject-description">Description</label>
                            <textarea class="form-control" rows="3" id="createProject-description"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
    
</template>

