<template name="projectSettings">
	<div class="col-md-12">
		<button type="submit" class="btn btn-default closeProject" href="#">Close</button>
		<h1>{{projectName}}</h1> 
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="{{ activeIfTemplateIs 'ProjectBacklog' }}">
						<a href="{{pathFor 'project.backlog'}}">Backlog</a>
					</li>
					<li class="{{ activeIfTemplateIs 'ProjectImpactMap' }}">
						<a href="{{pathFor 'project.impactMap'}}">Impact Map</a>
					</li>
					<li class="{{ activeIfTemplateIs 'ProjectUserStoryMap' }}">
						<a href="{{pathFor 'project.userStoryMap'}}">User Story Map</a>
					</li>
					<li class="{{ activeIfTemplateIs 'ProjectProjectSettings' }}">
						<a href="{{pathFor 'project.projectSettings'}}">Settings</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>